mixin videoBlock(video ={})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock_thumbnail(src=video.fileUrl, controls=true)
            h4.videoBlock_title=video.title
        if video.views === 1
            h6.videoBlock_views 1 view
        else
            h6.videoBlock_views #{video.views} views

